/* --------------- */
/* generic styling */
/* --------------- */
*
{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

div
{
	position: relative;
	display: grid;
	border: solid;
	border-width: 1px;
	margin: auto;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: #222222;
}

select
{
	height: 40px;
	width: 120px;
}

p, label
{
	color: #fefefe;
	font-size: 1.1em;
}

a
{
	color: #aeaeae;
}

/* --------------------  */
/* more specific styling */
/* --------------------  */

/*the general divs*/
.header
{
	min-height: 70px;
	max-height: 70px;
	background-color: #2365AB;
	padding: 10px;
}

.header *
{
	margin: auto;
	text-align: center;
}

.maindiv
{
	min-width: 1200px;
	max-width: 1200px;
	min-height: 100px;
	max-height: 1200px;
}

.mainform
{
	min-width: 1200px;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 8fr 1fr;
	grid-template-areas: "inputs output"
	                     "inputs button";
}

.inputsDiv
{
	grid-area: inputs;
}

.inputsDivDiv
{
	margin: 0px;
     display: grid;
     grid-template-columns: 3fr 1fr;
     align-items: center;
}

.inputsDivDiv label
{
	text-align: right;
	margin-right: 20px;
}

.inputsDivDiv select, .inputsDivDiv input
{
     /**/
     -webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	outline: none;

	/**/
	float: left;
	width: 100%;
	height: 80%;
	min-height: 40px;
	padding-left: 20px;
	margin: 1px;

	/**/
	font-size: 1em;
}

input:focus, select:focus
{
	background-color: #d2d2ff;
	border-top: solid;
	border-bottom: solid;
	border-color: #a2a2ff;
	border-radius: 4px;
}

/* the button */
.buttonDiv, 
{
	grid-area: button;
	background: #fffff;
	padding: 0;
	margin: 0;
}

#theButton
{
	position: absolute;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 1em;
}

/* results */
.resultDiv
{
	grid-area: output;
	width: 100%;
	height: 100%;

	display: inline-block;
	padding: 1em;
	background-color: #141414;

	font-family: monospace;
}

.resultDiv *
{
	margin-top: 0px;
}

.resultDiv p
{
	font-size: 1.3em;
}

#result_Description
{
	font-size: 1.1em;
}

/* extra information */
.someInfo
{
	display: grid;
	grid-template-columns:  1fr 1fr;
	grid-template-rows: 1fr 4fr 3fr;
	grid-template-areas: "headerPara headerPara"
					 "howWork howWork"
					 "gitRepoInfo infoReferences";

	border-width: 5px;
	padding: 20px;
	padding-top: 0px;

	min-height: 500px;
	max-height: 500px;
	background: #2a2a2a;
}


.someInfo div
{
	margin: 0;
	padding: 0;
}

.references, .workHow, .gitRepoInfo
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.someInfo p, .references p, .workHow p, .gitRepoInfo p
{
	align-text: left;
	padding: 5px;
	margin: 0px;
	width: 100%;
	font-size: 1.0em;
}

.references
{
	grid-area: infoReferences;
}

.workHow
{
	grid-area: howWork;
}

.gitRepoInfo
{
	grid-area: gitRepoInfo;
}

#someInfoParagraphHeader
{
	grid-area: headerPara;
	font-size: 1.5em;
	margin: auto;
}

#paraA, #paraB, #paraC
{
	font-size: 1.25em;
	margin: 0;
}

/**/
.somethingText
{
	margin: 0;
	border: none;

	position: fixed;
	text-align: right;
	justify-content: right;

	font-size: 1.25vmax;
	transform: translateY(-0.5vmax);
	min-width: 25vw;
	max-width: 25vw;
	min-height: 1.5vh;
	max-height: 1.5vh;

	right: 0%;
	bottom: 0%;
	color: #f2f2f2;
	opacity: 0.1;
}