:root
{
    --color-a: #101010;
    --color-b: #252527;
    --color-c: #405090;
    --color-d: #9090ff;
    --color-e: #f0f0f0;
    --color-f: #ffffff;

    --color-link: #90a0ff;
    --color-text: var(--color-f);
}

*, *::before, *::after
{
    scrollbar-width: thin;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
}

html, body { min-width: 320px; }

html
{
    background-color: var(--color-a);
}

body
{
    margin: 0 auto;
    max-width: 1280px;
    height: 100vh;

    font-family: 'Noto Sans', 'Cambria', sans-serif;
    color: var(--color-text);
    background-color: var(--color-b);

    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > header
{
    background-color: var(--color-c);
    border-bottom: 2px solid var(--color-d);
}
.page-screen-title { text-align: center; }

body > section
{
    overflow: auto;
}

body > section > div
{
    min-height: 100%;
}

a, a:visited
{
    color: var(--color-link);
}



.icon-input
{
    border: 2px inset var(--color-e);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-b);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
/* .icon-input > button > img { vertical-align: middle; } */
.icon-input > button
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon-input > select,
.icon-input > button,
.icon-input > input
{
    border-radius: 0.75rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--color-e);
}



#wc-body
{
    display: grid;
    grid-template-columns: auto 1fr;
}

input, select, button
{
    border-radius: 0px;
    padding: 0.5rem;
    background-color: var(--color-e);
}



.wc-form
{
    padding: 0.5rem;
}

.wc-form > div > label[for]
{
    text-align: right;
}

.wc-form > div  
{
    margin: 0.5rem 0px;

    border-radius: 0.5rem;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
}

.wc-form > div.icon-input
{
    border: none;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.wc-form .section-text
{
    text-align: center;
    grid-column: 1 / span 2;
    font-size: 1.5rem;
}



.wc-form-with-icons
{
    height: max-content;

    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: auto;
    align-items: baseline;
    gap: 0.5rem;
}



.wc-results-block
{
    font-family: 'Consolas', monospace;
    display: grid;
    grid-template-rows: 1fr auto;
}

.wc-results-block > * { margin: 0.5rem; }
.wc-results-block > *:last-child { margin-top: 0px; }

.wc-results
{
    border: 2px solid var(--color-e);
    padding: 0.5rem;
    background-color: var(--color-a);
}



.wc-info-block
{
    border: 2px solid var(--color-e);
    padding: 0.5rem;
    display: grid;
    text-align: justify;
}

.wc-info-block p
{
    margin: 0.5rem 0px;
    text-indent: 2rem;
}

.wc-info-block h2:not(:first-child)
{
    margin-top: 2rem;
}


@media screen and (min-width: 1300px)
{
    body
    {
        border-left:  2px solid var(--color-c);
        border-right: 2px solid var(--color-c);
    }
}

@media screen and (max-width: 700px) {
    #wc-body
    {
        grid-template-columns: auto;
    }

    .wc-form > div
    {
        grid-template-columns: auto 1fr;
    }
}

@media screen and (max-width: 500px)
{
    span.optional { display: none; }
}



.flex-wrap         { display: flex; flex-direction: row; flex-wrap: wrap; }
.flex-wrap > *     { flex: 1 0 auto; width: 320px; }
.flex-wrap > .form { width: max-content; }



.text-icon { max-width: 1rem; max-height: 1rem; }